/* Fonts */
/* ------------------------------------ */
$ff-main: "Play", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */
$color-white: #ffffff;
$color-black: #1e222e;
$color-blue: #6a5dc2;
$color-perano: #b4a9ff;
$color-heliotrope: #dc5dfc;

$color-solitude: #f5f6f8;
$color-lucky: #a59400;
$color-night-rider: #333333;
$color-night-focus: #2e2d2d;
$color-green: #308e21;
$color-grey: #777777;
$color-cod-grey: #2d2f30;
$color-brick: #c82020;
$color-montana: #393b3c;
$color-cornflower-blue: #67a5eb;
$color-salmon: #ff7575;
$color-east-bay: #45526e;
$color-dark-green: #0a0b0b;

$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-50: rgba(0, 0, 0, 0.5);

/* Breakpoints */
/* ------------------------------------ */
// $vp-tablet: 1023px;
// $vp-mobile: 767px;
