.social {
  display: flex;
  gap: 24px;
  transition: color 0.3s ease-in;
  &__link {
    display: flex;
    &-icon {
      transition: color 0.3s ease-in;
      &:hover {
        color: $color-perano;
      }
      @include vp-767 {
        width: 24px;
        height: 24px;
      }
    }
  }
}
