.info {
  display: flex;
  flex-direction: column;
  gap: 64px;
  min-height: 536px;
  padding: 40px 0 0 0;
  @include vp-767 {
    padding: 56px 0 0 0;
    gap: 40px;
  }
  &__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: $color-white;
    text-align-last: left;
    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 24px 8px;
    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
  &__designation {
    display: flex;
  }
  &__name {
    flex-shrink: 0;
    margin-right: 8px;
    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      color: $color-white-50;
    }
  }
  &__dots {
    min-width: 0;
    &::before {
      display: block;
      content: "...................................................................................................................................................";
      color: $color-white-50;
      overflow: hidden;
    }
    @media (max-width: 576px) {
      display: none;
    }
  }
}
